.modal{
    position: fixed;
    background: black;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 999;
    display: none;
}

.container-modal{
    height: 200px;
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    background: white;
    position: fixed;
    z-index: 9999;
    top: 10%;
    left: 30%;
    right: 30%;
    display: none;
}
#closeModal{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 24px;
    
    border: none;
    background: none;
    color: black;
    font-weight: 900;
    float: right;
}
#closeModal:hover{
    cursor: pointer;
}

.tab{
    height: 200px;
    background: skyblue;
    border-bottom: 2px solid black;
    font-size: 60px;
}

#tab2, #tab3{
    display: none;
}